<div *ngIf="issue">
    <h2>{{issue.title}}</h2>
    <div><label>number: </label>{{issue.number}}</div>
    <div><label>title: </label>{{issue.title}}</div>
    <div><label>creation date: </label>{{issue.created_at}}</div>
    <div><label>url: </label><a href='{{issue.html_url}}'>{{issue.html_url}}</a></div>
    <div><label>user: </label>{{issue.user.login}}</div>
    <div><label>assignee: </label>
        <span *ngIf="!issue.assignee; else showAssignee"><i>NONE</i></span>
        <ng-template #showAssignee>{{issue.assignee.login}}</ng-template>
    </div>
    <div><label>body: </label>{{issue.body}}</div>
    <button (click)="goBack()">Back</button>
</div>